@import "../../theme";

.imagem{
    height: 40%;
    width: 30%;
}

.title{
    color: $primary;
    margin-bottom: 1%;
    margin-top: 5%;
}

.subtitle {
    padding: 2%;
    text-align: justify;
    color: #5f5e5e;
}

.content {
   text-align: center;
}