@import "../../theme";

.continer-left {
  background: $primary;
}

.continer-right {
    text-align: center;
    align-items: center;
    .cont{
        display: flex;
        align-items: center;
    }
}
